/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Futura, sans-serif;
}

.body {
  background-color: black;
  font-family: Futura, sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
