<div class="guardian-container">
  <div class="inventory-background">
    <!-- two text fields and a button form -->
    <input type="text" class="search-input" placeholder="Username">
    <input type="text" class="search-input" placeholder="Number ID">
    <input type="text" class="search-input" placeholder="Platform">
    <button class="search-button">Search</button>


    <!-- <form class="search-container">
        <div class="platform-container">
          <input type="checkbox" id="psncb" class="icon icon--playstation">
          <label for="psncb" class="ri-playstation-line"></label>
          <a href="https://lucasoverbey.dev/" class="icon icon--playstation">
            <i class="ri-playstation-line"></i>
          </a>
          <a href="https://lucasoverbey.dev/" class="icon icon--xbox">
            <i class="ri-xbox-line"></i>
          </a>
          <a href="https://lucasoverbey.dev/" class="icon icon--steam">
            <i class="ri-steam-line"></i>
          </a>
        </div>
        <button>Search</button>
    </form>
    <h1 class="test">Select Guardian</h1>
    <img src="https://www.bungie.net/common/destiny2_content/icons/38f204eb25ac88463cf9b7f50312f82a.jpg" alt="test">
    <img src="https://www.bungie.net/common/destiny2_content/icons/7fc1208b03c439eef305a0ad31fb63de.jpg" alt="test">
    <img src="https://www.bungie.net/common/destiny2_content/icons/21ece12fcc50be9e51599416e964155d.jpg" alt="test"> -->
  </div>
</div>