.main-container {
  height: 100vh;
  width: 100%;
}

.search-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3046bb39-8dcd-46b8-a486-ce9ce67ae102/dbgudlw-97141612-452d-43f8-aeb1-6579ecc08ead.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzMwNDZiYjM5LThkY2QtNDZiOC1hNDg2LWNlOWNlNjdhZTEwMlwvZGJndWRsdy05NzE0MTYxMi00NTJkLTQzZjgtYWViMS02NTc5ZWNjMDhlYWQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.S9j6g3vVbn7650ijG81Du-Kz_9LjVfc2cnCjzrc2fAI');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1920px;
  max-height: 1080px;
  width: 80%;
  height: 80%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guardian-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* -------------------- */

.guardian-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.select-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
  justify-content: center;
  text-align: center;
}

.guardian-select-title {
  color: #fff;
  font-size: 2rem;
  font-weight: 200;
}

.image-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.image-container:hover {
  opacity: 0.9;
  transform: scale(1.1px);
  transition: all 0.5s ease;
}

.light-level {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: transparent;
  color: rgb(231, 207, 81);
  font-size: 33px;
}

.text {
  position: absolute;
  padding: 5px;
  background-color: transparent;
  color: #fff;
  top: 28%;
  left: 18%;
  transform: translate(0, -50%);
  text-align: left;
}

.guardian-type {
  color: white;
  font-size: 28px;
  font-weight: 200;
}

.guardian-race {
  color: rgb(209, 209, 209);
  font-size: 15px;
  font-weight: 200;
}

/* -------------------- */

