.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.platform-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.icons {
	display: flex;
	column-gap: 25px;
}
.icon {
	display: inline-flex;
	width: 40px;
	height: 40px;
	text-decoration: none;
	font-size: 26px;
	color: #fff;
	border-radius: 50%;
	outline: 2px solid #fff;
	transition-property: outline-offset, outline-color, background-color;
	transition-duration: 0.25s;
}
.icon:hover {
	outline-offset: 2px;
}
.icon i {
	margin: auto;
}
.icon:hover i {
	animation: shake 0.25s;
}
.icon--playstation:hover {
  background-color: #003087;
  outline-color: #003087;
}
.icon--xbox:hover {
  background-color: #107c10;
  outline-color: #107c10;
}
.icon--steam:hover {
  background-color: #000000;
  outline-color: #000000;
}