<div class="search-container">
  <div class="guardian-select">
    <div class="select-container">
      <div class="image-container" *ngFor="let character of characterList">
        <img src="https://www.bungie.net{{character.emblemBackgroundPath}}" alt="Guardian-1">
        <div class="image-overlay">
          <span class="light-level">{{ character.light }}</span>
          <div class="text">
            <p class="guardian-type">{{ getClassName(character.classHash) }}</p>
            <p class="guardian-race">{{ getRaceName(character.raceHash) }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
