<div class="search-container">
  <form (submit)="onSubmit()" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Bungie Display Name</mat-label>
      <input matInput type="text" id="displayName" name="displayName" [(ngModel)]="displayName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Bungie ID Number</mat-label>
      <input matInput id="displayNameCode" name="displayNameCode" [(ngModel)]="displayNameCode">
    </mat-form-field>
    <button type="submit" mat-button>Search</button>
  </form>
</div>

<!-- 
<form (submit)="onSubmit()" class="search-container">
  <label for="displayName">Bungie Display Name:</label>
  <input type="text" id="displayName" name="displayName" [(ngModel)]="displayName">
  <label for="displayNameCode">Display Name Code:</label>
  <input type="number" id="displayNameCode" name="displayNameCode" [(ngModel)]="displayNameCode">
  <button type="submit">Search</button>
</form> -->